<!--
<p>produit works!</p>
<ul *ngFor="let p of produits">
  <li>ref : {{p.ref}}, Quantiite : {{p.quantite}}, Prix: {{p.prixUnitaire}}</li>
</ul>
-->
<h3>Produits</h3>
<div class="">
  <div class="row">
    <div class="col-7">
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Reference</th>
          <th scope="col">Quantite</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col"><button class="btn btn-outline-primary">Add</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of produits;let i = index">
          <th scope="row">{{i}}</th>
          <td>{{p.reference}}</td>
          <td>{{p.quantite}}</td>
          <td>{{p.prixUnitaire}}</td>
          <td>
            <button class="btn btn-outline-primary">Edit</button>&nbsp;
            <button class="btn btn-outline-danger">Suppr</button></td>
        </tr>

        </tbody>
      </table>

    </div>
    <div class="col-5">
      <div class="card  mb-3 ">
        <div class="card-header text-white bg-dark ">Ajouter un produit</div>
        <div class="card-body ">
          <h5 class="card-title">veuiller entrer les informations du produit</h5>
            <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="referenceId">Reference </label>
              <input type="text" class="form-control" formControlName="reference" id="referenceId" aria-describedby="reference desc" placeholder="Enter reference" required>
            </div>
            <div class="alert alert-danger" *ngIf="produitForm.get('reference').invalid && (produitForm.get('reference').dirty || produitForm.get('reference').touched)">Réference obligatoire</div>
           <div class="form-group">
              <label for="quantiteId">Quantite</label>
              <input type="number"  class="form-control" formControlName="quantite"  id="quantiteId" placeholder="entrer la quantité">
            </div>

            <div class="form-group">
              <label for="prixId">Prix</label>
              <input type="number"  class="form-control" formControlName="prixUnitaire"  id="prixId" placeholder="entrer le prix">
            </div>

            <button (click)="ajouterProduit()" type="submit" class="btn btn-primary" [disabled]="produitForm.invalid || produitForm.pristine">Submit</button>
          </form>

        </div>
        <div class="card-footer bg-transparent ">Footer</div>
      </div>

    </div>
  </div>

</div>
